In [1]:
#1. Create a list with integers from 1 to 10.

In [2]:
l=list(range(0,11))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#2. Find the length of a list without using the `len()` function.

In [4]:
l=[2,3,4,5,6,6,7,8,9,1,4]
c=0
for i in l:
    c+=1
print(c)

11

In [5]:
#3.Append an element to the end of a list.

In [6]:
l.append(20)
l

[2, 3, 4, 5, 6, 6, 7, 8, 9, 1, 4, 20]

In [7]:
#5. Remove an element from a list by its value.

In [8]:
l.remove(20)
l

[2, 3, 4, 5, 6, 6, 7, 8, 9, 1, 4]

In [9]:
#6. Remove an element from a list by its index

In [10]:
l.pop()
l

[2, 3, 4, 5, 6, 6, 7, 8, 9, 1]

In [11]:
l.pop(3)

5

In [12]:
#7. Check if an element exists in a list.

In [13]:
ele=6
if ele in l:
    print("Exist")
else:
    print("Not exist")

Exist

In [14]:
l

[2, 3, 4, 6, 6, 7, 8, 9, 1]

In [15]:
element=any(lst in l for lst in l)
print(element)

True

In [16]:
#8. Find the index of the first occurrence of an element in a list.
idx=l.index(6)
print(idx)

3

In [17]:
#9. Count the occurrences of an element in a list.
c=l.count(6)
print(c)

2

In [18]:
#10. Reverse the order of elements in a list.
l.reverse()
l

[1, 9, 8, 7, 6, 6, 4, 3, 2]

In [19]:
#11. Sort a list in ascending order.
l.sort()
l

[1, 2, 3, 4, 6, 6, 7, 8, 9]

In [20]:
#12. Sort a list in descending order
l.sort(reverse=True)
l

[9, 8, 7, 6, 6, 4, 3, 2, 1]

In [21]:
#13. Create a list of even numbers from 1 to 20.
lst=list(range(0,20,2))
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
#14. Create a list of odd numbers from 1 to 20
lst=list(range(1,21,2))
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
#15. Find the sum of all elements in a list.
sum_lst=sum(l)
print(sum_lst)

46

In [24]:
#16. Find the maximum value in a list.
print(max(l))

9

In [25]:
#17. Find the minimum value in a list.

In [26]:
print(min(l))

1

In [27]:
#18. Create a list of squares of numbers from 1 to 10.

In [28]:
s=[x**2 for x in range(1,11)]
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
#19. Create a list of random numbers.

In [30]:
import random
l=random.sample(range(1,20),5)
l

[4, 16, 17, 6, 3]

In [31]:
l=[]
for i in range(1,10):
    l.append(random.randint(1,20))
l

[17, 16, 9, 9, 11, 12, 2, 8, 18]

In [32]:
#20. Remove duplicates from a list.

In [33]:
#menthod1:using loop
l=[2,3,4,1,2,2,2,4,4,5,6,6,6,6,6]
unique_lst=[]

for i in l:
    if i not in unique_lst:
        unique_lst.append(i)
        
unique_lst

[2, 3, 4, 1, 5, 6]

In [34]:
#method 2:usind set
l=[2,3,4,1,2,2,2,4,4,5,6,6,6,6,6]
s=set(l)
s

{1, 2, 3, 4, 5, 6}

In [35]:
#21. Find the common elements between two lists.
#Method:1
l1=[2,2,1,5,6]
l2=[4,9,3,12,45,5]
for i in l1:
    for j in l2:
        if i==j:
            print(i)
            break

5

In [36]:
#Method:2
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]

common_ele=list(set(l1).intersection(l2))
print(common_ele)

[4, 5]

In [38]:
#22. Find the difference between two lists.
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]
diff_ele1=list(set(l1)-set(l2))
diff_ele2=list(set(l2)-set(l1))
print(diff_ele1)
print(diff_ele2)

[1, 2, 3]
[8, 6, 7]

In [39]:
#23. Merge two lists.
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]
print(l1+l2)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [41]:
#24. Multiply all elements in a list by 2
l1=[1, 2, 3, 4, 5]

mul_ele=[x*2 for x in l1]
print(mul_ele)

[2, 4, 6, 8, 10]

In [42]:
#25. Filter out all even numbers from a list.
l1=[1,2,3,4,5,6,7,8]

for i in l1:
    if i%2==0:
        print(i)

2
4
6
8

In [49]:
#26. Convert a list of strings to a list of integers.

str="Hello Word"
l=list(str)
print(l)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'd']

In [3]:
#27. Convert a list of integers to a list of strings.
#Method:1-->using Map function
integer_lst=[2,3,4,5,6]
s=list(map(str,integer_lst))
print(s)

#Method:2-->using 
integer_lst=[2,3,4,5,6]
string=[str(i) for i in integer_lst]
print(string)

['2', '3', '4', '5', '6']
['2', '3', '4', '5', '6']

In [5]:
#28. Flatten a nested list.

#using list  comprehension
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flatten_list=[item for sl in nested_list for item in sl]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
#using itertools
import itertools

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flatten_list=list(itertools.chain(*nested_list))
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
#29. Create a list of the first 10 Fibonacci numbers.


#initialize the first two fibonacci number
fibbo_num=[0,1]
for i in range(2,10): #define rest 8
    next_num=fibbo_num[-1]+fibbo_num[-2]
    fibbo_num.append(next_num)
print(fibbo_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [15]:
#30. Check if a list is sorted.

def is_sorted(lst):
    for i in range(len(lst)-1):
        if lst[i]>lst[i+1]:
            return False
    return True

list1=[2,4,7,9,12]
print(is_sorted(list1))

list2=[11,4,7,9,12]
print(is_sorted(list2))

True
False

In [18]:
#31. Rotate a list to the left by `n` positions.

def rotate_left(lst,n):
    n=n%len(lst)
    return lst[n:]+lst[:n]

list1=[1,2,3,4,5]
n=2
rotated_lst=rotate_left(list1,n)
print(rotated_lst)

[3, 4, 5, 1, 2]

In [20]:
#32. Rotate a list to the right by `n` positions.

def rotate_right(lst,n):
    n=n%len(lst)
    return lst[-n:]+lst[:-n]

list1=[1,2,3,4,5]
n=2
rotated_lst=rotate_right(list1,n)
print(rotated_lst)

[4, 5, 1, 2, 3]

In [29]:
#33. Create a list of prime numbers up to 50.

def is_prime(n):
    if n <=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

def prime_50():
    primes=[]
    for n in range(2,51):
        if is_prime(n):
            primes.append(n)
            
    return primes

prime_numbers=prime_50()
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [30]:
#34. Split a list into chunks of size `n`.

def split_chunks(lst,n):
    chunks=[]
    for i in range(0,len(lst),n):
        chunks.append(lst[i:i+n])
    return chunks

list1=[1,2,3,4,5,6,7,8,9]
n=3
print(split_chunks(list1,n))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
#35. Find the second largest number in a list.
def second_largest(lst):
    unique_sorted_lst=sorted(set(lst),reverse=True)
    if len(unique_sorted_lst) < 2:
        return None
    return unique_sorted_lst[1]

example_list = [3, 1, 4, 5, 9, 2]
result = second_largest(example_list)
print("Second largest number:", result)

Second largest number: 5

In [34]:
#36. Replace every element in a list with its square.

def square_elements(lst):
    # Using list comprehension to square each element
    squared_list = [x ** 2 for x in lst]
    return squared_list

example_list = [1, 2, 3, 4, 5]
result = square_elements(example_list)
print(result)

[1, 4, 9, 16, 25]

In [38]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

def list_dict(lst):
    dict_indices={value : index for index, value in enumerate(lst)}
    return dict_indices

example_list = ['apple', 'banana', 'cherry', 'date']
result = list_dict(example_list)
print(result)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [39]:
#38. Shuffle the elements of a list randomly.
import random

def shuffle_list(lst):
    # Shuffle the list in place
    random.shuffle(lst)

example_list = [1, 2, 3, 4, 5]
shuffle_list(example_list)
print(example_list)

[5, 3, 2, 1, 4]

In [40]:
#39. Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result
first_10_factorials = [factorial(i) for i in range(10)]
print(first_10_factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [42]:
#40. Check if two lists have at least one element in common.
def has_common_element(list1, list2):
    
    set1 = set(list1)
    set2 = set(list2)
    if set1.intersection(set2):
        return True
    else:
        return False
    
    
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
result = has_common_element(list1, list2)
print(result)  

list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8, 9]
result = has_common_element(list1, list2)
print(result)

True
False

In [44]:
#41. Remove all elements from a list.

def remove_elements_inplace(lst):
    lst.clear()

example_list = [1, 2, 3, 4, 5]
remove_elements_inplace(example_list)
print(example_list)

[]

In [1]:
#42. Replace negative numbers in a list with 0.
def replace_negatives_with_zero(numbers):
    return [0 if x < 0 else x for x in numbers]


numbers = [3, -1, -7, 4, -5, 9]
result = replace_negatives_with_zero(numbers)
print(result)

[3, 0, 0, 4, 0, 9]

In [2]:
#43. Convert a string into a list of words.
def string_to_words(s):
    return s.split()

sentence = "Convert this string into a list of words"
words_list = string_to_words(sentence)
print(words_list)

['Convert', 'this', 'string', 'into', 'a', 'list', 'of', 'words']

In [3]:
#44. Convert a list of words into a string.
def words_to_string(words):
    return ' '.join(words)

words_list = ['Convert', 'this', 'list', 'of', 'words', 'into', 'a', 'string']
sentence = words_to_string(words_list)
print(sentence)

Convert this list of words into a string

In [4]:
#45. Create a list of the first `n` powers of 2.
def powers_of_2(n):
    return [2**i for i in range(n)]

n = 10
powers_list = powers_of_2(n)
print(powers_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [5]:
#46. Find the longest string in a list of strings.
def longest_string(strings):
    return max(strings, key=len)

strings_list = ["apple", "banana", "cherry", "blueberry", "strawberry"]
longest = longest_string(strings_list)
print(longest)

strawberry

In [6]:
#47. Find the shortest string in a list of strings.
def shortest_string(strings):
    return min(strings, key=len)

strings_list = ["apple", "banana", "cherry", "blueberry", "kiwi"]
shortest = shortest_string(strings_list)
print(shortest)

kiwi

In [7]:
#48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

n = 10
triangular_list = triangular_numbers(n)
print(triangular_list)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [8]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(main_list, sub_list):
    sub_len = len(sub_list)
    for i in range(len(main_list) - sub_len + 1):
        if main_list[i:i + sub_len] == sub_list:
            return True
    return False

main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 3, 4]

result = is_subsequence(main_list, sub_list)
print(result) 

sub_list = [2, 4, 5]
result = is_subsequence(main_list, sub_list)
print(result)

True
False

In [9]:
#50. Swap two elements in a list by their indices.
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]

my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)

[1, 4, 3, 2, 5]