In [1]:
#1. Create a set with integers from 1 to 5.
integer_set = {1, 2, 3, 4, 5}
print("Set with integers from 1 to 5:", integer_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [2]:
#using range
integer_set = set(range(1, 6))
print("Set with integers from 1 to 5:", integer_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [3]:
#2. Add an element to a set.
integer_set = {1, 2, 3, 4, 5}
integer_set.add(6)
print("Set after adding an element:", integer_set)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [4]:
#3. Remove an element from a set.
integer_set = {1, 2, 3, 4, 5}
integer_set.remove(3)
print("Set after removing an element using remove:", integer_set)

Set after removing an element using remove: {1, 2, 4, 5}

In [5]:
integer_set = {1, 2, 3, 4, 5}
integer_set.discard(3)
print("Set after discarding an element using discard:", integer_set)

Set after discarding an element using discard: {1, 2, 4, 5}

In [6]:
#4. Check if an element exists in a set.
integer_set = {1, 2, 3, 4, 5}
element_to_check = 3
if element_to_check in integer_set:
    print(f"Element {element_to_check} exists in the set.")
else:
    print(f"Element {element_to_check} does not exist in the set.")

Element 3 exists in the set.

In [7]:
#5. Find the length of a set without using the `len()` function.
integer_set = {1, 2, 3, 4, 5}
count = 0
for element in integer_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [8]:
#6. Clear all elements from a set.
nteger_set = {1, 2, 3, 4, 5}
integer_set.clear()
print("Set after clearing all elements:", integer_set)

Set after clearing all elements: set()

In [9]:
#7. Create a set of even numbers from 1 to 10
even_set = {x for x in range(1, 11) if x % 2 == 0}
print("Set of even numbers from 1 to 10:", even_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [10]:
#8. Create a set of odd numbers from 1 to 10.
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print("Set of odd numbers from 1 to 10:", odd_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [11]:
#9. Find the union of two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
#10. Find the intersection of two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1 & set2
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [13]:
#11. Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1 - set2
print("Difference of set1 and set2 (set1 - set2):", difference_set)

Difference of set1 and set2 (set1 - set2): {1, 2, 3}

In [14]:
#12. Check if a set is a subset of another set
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1 <= set2

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [15]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1 >= set2
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [16]:
#14. Create a set from a list.
my_list = [1, 2, 3, 4, 3, 2, 1]
my_set = set(my_list)
print("Set created from list:", my_set)

Set created from list: {1, 2, 3, 4}

In [17]:
#15. Convert a set to a list.
my_set = {1, 2, 3, 4}
my_list = list(my_set)
print("List converted from set:", my_list)

List converted from set: [1, 2, 3, 4]

In [18]:
#16. Remove a random element from a set.
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [19]:
#17. Pop an element from a set
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [20]:
#18. Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
if are_disjoint:
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have elements in common")

set1 and set2 have no elements in common

In [21]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_diff = set1 ^ set2
print("Symmetric difference between set1 and set2:", symmetric_diff)

Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

In [22]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [24]:
#21. Create a set of the first 5 prime numbers.
def generate_first_n_primes(n):
    primes = set()
    num = 2
    while len(primes) < n:
        if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
            primes.add(num)
        num += 1
    return primes
first_five_primes = generate_first_n_primes(5)

print("Set of the first 5 prime numbers:", first_five_primes)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [25]:
#22. Check if two sets are identical.
set1 = {1, 2, 3}
set2 = {3, 2, 1}  
if set1 == set2:
    print("set1 and set2 are identical")
else:
    print("set1 and set2 are not identical")

set1 and set2 are identical

In [26]:
#23. Create a frozen set.
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [27]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have elements in common")

set1 and set2 have no elements in common

In [28]:
#25. Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [29]:
#26. Filter out all even numbers from a set.
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in original_set if x % 2 != 0}
print("Filtered set (only odd numbers):", filtered_set)

Filtered set (only odd numbers): {1, 3, 5, 7, 9}

In [30]:
#27. Multiply all elements in a set by 2.
original_set = {1, 2, 3, 4, 5}
modified_set = {x * 2 for x in original_set}
print("Modified set (elements multiplied by 2):", modified_set)

Modified set (elements multiplied by 2): {2, 4, 6, 8, 10}

In [32]:
#28. Create a set of random numbers.
import random
random_set = set()
while len(random_set) < 5:
    random_set.add(random.randint(1, 10))

print("Set of random numbers:", random_set)

Set of random numbers: {2, 3, 4, 5, 10}

In [33]:
#29. Check if a set is empty.

empty_set = set()
non_empty_set = {1, 2, 3}

# Check if sets are empty
if not empty_set:
    print("empty_set is empty")
else:
    print("empty_set is not empty")

if not non_empty_set:
    print("non_empty_set is empty")
else:
    print("non_empty_set is not empty")

empty_set is empty
non_empty_set is not empty

In [34]:
#30. Create a nested set (hint: use frozenset).
nested_set = frozenset([
    frozenset({1, 2}),
    frozenset({3, 4}),
    frozenset({5, 6, 7})
])

print("Nested set:", nested_set)

Nested set: frozenset({frozenset({3, 4}), frozenset({5, 6, 7}), frozenset({1, 2})})

In [35]:
#31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)

print("Updated set after discarding element:", my_set)

Updated set after discarding element: {1, 2, 4, 5}

In [36]:
#32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
if set1 == set2:
    print("set1 and set2 are equal")
else:
    print("set1 and set2 are not equal")
    
if set1 <= set2:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

if set1 >= set2:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

intersection_set = set1 & set2
print("Intersection of set1 and set2:", intersection_set)

set1 and set2 are not equal
set1 is not a subset of set2
set1 is not a superset of set2
Intersection of set1 and set2: {3, 4, 5}

In [37]:
#33. Create a set from a string.
my_string = "hello"
my_set = set(my_string)

print("Set from string:", my_set)

Set from string: {'o', 'h', 'l', 'e'}

In [38]:
#34. Convert a set of strings to a set of integers.
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}

print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4, 5}

In [39]:
#35. Convert a set of integers to a set of strings.
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}

print("Set of strings:", set_of_strings)

Set of strings: {'4', '1', '5', '3', '2'}

In [40]:
#36. Create a set from a tuple.
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

In [41]:
#37. Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print("Tuple from set:", my_tuple)

Tuple from set: (1, 2, 3, 4, 5)

In [42]:
#38. Find the maximum value in a set.
my_set = {10, 30, 20, 50, 40}
max_value = max(my_set)

print("Maximum value in the set:", max_value)

Maximum value in the set: 50

In [43]:
#39. Find the minimum value in a set.
my_set = {10, 30, 20, 50, 40}
min_value = min(my_set)
print("Minimum value in the set:", min_value)

Minimum value in the set: 10

In [44]:
#40. Create a set from user input.
user_set = set()
print("Enter elements for the set (press Enter without input to finish):")
while True:
    element = input("Enter element (or press Enter to finish): ")
    if element == "":
        break
    user_set.add(element)

print("Set created from user input:", user_set)

Enter elements for the set (press Enter without input to finish):
Enter element (or press Enter to finish): apple
Enter element (or press Enter to finish): mango
Enter element (or press Enter to finish):
Set created from user input: {'mango', 'apple'}

In [45]:
#41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty")
else:
    print("The intersection of set1 and set2 is not empty")

The intersection of set1 and set2 is empty

In [46]:
#42. Create a set of the first 5 Fibonacci numbers.
def fibonacci(n):
    fib_set = set()
    a, b = 0, 1
    count = 0
    while count < n:
        fib_set.add(a)
        a, b = b, a + b
        count += 1
    return fib_set

fibonacci_set = fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [47]:
#43. Remove duplicates from a list using sets.
my_list = [1, 2, 3, 4, 2, 3, 5, 1, 6]
unique_items = list(set(my_list))
print("List with duplicates removed:", unique_items)

List with duplicates removed: [1, 2, 3, 4, 5, 6]

In [48]:
#44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 3, 4}
set4 = {1, 2, 2, 3}  # Contains duplicates, but treated as {1, 2, 3}

# Check if sets are equivalent
if set1 == set2:
    print("set1 and set2 have the same elements")
else:
    print("set1 and set2 do not have the same elements")

if set1 == set3:
    print("set1 and set3 have the same elements")
else:
    print("set1 and set3 do not have the same elements")

if set1 == set4:
    print("set1 and set4 have the same elements")
else:
    print("set1 and set4 do not have the same elements")

set1 and set2 have the same elements
set1 and set3 do not have the same elements
set1 and set4 have the same elements

In [49]:
#45. Create a set of the first `n` powers of 2
def powers_of_2(n):
    powers_set = {2 ** i for i in range(n)}
    return powers_set

n = 5
powers_set = powers_of_2(n)
print(f"Set of the first {n} powers of 2:", powers_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [50]:
#46. Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)
print("Common elements between set and list:", common_elements)

Common elements between set and list: {3, 4, 5}

In [51]:
#47. Create a set of the first `n` triangular numbers.
def triangular_numbers(n):
    triangular_set = set()
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_set.add(triangular_number)
    return triangular_set
n = 5
triangular_set = triangular_numbers(n)

# Print the set of triangular numbers
print(f"Set of the first {n} triangular numbers:", triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [52]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
set3 = {6, 7}

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if set3.issubset(set1):
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is a subset of set1
set3 is not a subset of set1

In [53]:
#49. Create a set of alternating 1s and 0s of length `n`.
from itertools import cycle

def alternating_set(n):
    alternating = {int(next(cycle([1, 0]))) for _ in range(n)}
    return alternating

n = 10
alternating_set = alternating_set(n)
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 10: {1}

In [54]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1 | set2 | set3
print("Merged set using union operator:", merged_set)

Merged set using union operator: {1, 2, 3, 4, 5, 6, 7}