In [1]:
#1. Create a tuple with integers from 1 to 5
tuple_integers = (1, 2, 3, 4, 5)
print(tuple_integers)

(1, 2, 3, 4, 5)

In [2]:
#2. Access the third element of a tuple
tuple_integers = (1, 2, 3, 4, 5)
third_element = tuple_integers[2]
print(third_element)

3

In [3]:
#3. Find the length of a tuple without using the `len()` function.
def tuple_length(tup):
    count = 0
    for _ in tup:
        count += 1
    return count

tuple_example = (1, 2, 3, 4, 5)
length = tuple_length(tuple_example)
print("Length of the tuple:", length)

Length of the tuple: 5

In [4]:
#4. Count the occurrences of an element in a tuple.
def count_occurrences(tup, element):
    count = 0
    for item in tup:
        if item == element:
            count += 1
    return count

tuple_example = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2
occurrences = count_occurrences(tuple_example, element_to_count)
print(f"Number of occurrences of {element_to_count} in the tuple:", occurrences)

Number of occurrences of 2 in the tuple: 3

In [5]:
#5. Find the index of the first occurrence of an element in a tuple.
def find_first_occurrence_index(tup, element):
    for index, item in enumerate(tup):
        if item == element:
            return index

tuple_example = (1, 2, 3, 2, 4, 5, 2)
element_to_find = 2
first_occurrence_index = find_first_occurrence_index(tuple_example, element_to_find)
print(f"Index of the first occurrence of {element_to_find}:", first_occurrence_index)

Index of the first occurrence of 2: 1

In [6]:
#6. Check if an element exists in a tuple.
def element_exists_in_tuple(tup, element):
    for item in tup:
        if item == element:
            return True
    return False

tuple_example = (1, 2, 3, 4, 5)
element_to_check = 3
exists = element_exists_in_tuple(tuple_example, element_to_check)
if exists:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 3 exists in the tuple.

In [7]:
#7. Convert a tuple to a list.

def tuple_to_list(tup):
    result_list = []
    for item in tup:
        result_list.append(item)
    return result_list

# Example usage:
tuple_example = (1, 2, 3, 4, 5)
converted_list = tuple_to_list(tuple_example)
print("Converted list:", converted_list)

Converted list: [1, 2, 3, 4, 5]

In [8]:
#8. Convert a list to a tuple.
def list_to_tuple(lst):
    result_tuple = ()
    for item in lst:
        result_tuple += (item,)  # Create a new tuple with each element added
    return result_tuple

list_example = [1, 2, 3, 4, 5]
converted_tuple = list_to_tuple(list_example)
print("Converted tuple:", converted_tuple)

Converted tuple: (1, 2, 3, 4, 5)

In [9]:
#9. Unpack the elements of a tuple into variables.

tuple_example = (1, 2, 3)

# Unpacking into variables
a, b, c = tuple_example
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [10]:
#10. Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(num for num in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

In [11]:
#11. Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(num for num in range(1, 11) if num % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [12]:
#12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = (7, 8, 9)

concatenated_tuple = tuple(tuple1 + tuple2 + tuple3)
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [13]:
#13. Repeat a tuple three times.
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
#14. Check if a tuple is empty.
empty_tuple = ()

if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [15]:
#15. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))

print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [16]:
# 16. Access the first element of a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

first_ele=nested_tuple[0][0]
print(first_ele)

1

In [17]:
#17. Create a tuple with a single element
single_element_tuple = (1)
print(type(single_element_tuple))

<class 'int'>

In [18]:
# Method 1: Using a comma
single_element_tuple = (1,)
print(single_element_tuple)
# Method 2: Using tuple constructor with single element
single_element_tuple = tuple([1])

print(single_element_tuple)
print(type(single_element_tuple))

(1,)
(1,)
<class 'tuple'>

In [19]:
#18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare if two tuples are equal
if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal")
else:
    print("tuple1 and tuple2 are not equal")
       
if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

if tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

tuple1 and tuple2 are not equal
tuple1 is less than tuple2
tuple1 is not greater than tuple2

In [20]:
#19. Delete a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Deleting the entire tuple
del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

In [21]:
#20. Slice a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:5] # Slicing from index 2 to 5
print(sliced_tuple)

(3, 4, 5)

In [22]:
sliced_tuple = my_tuple[:6]
print(sliced_tuple)

(1, 2, 3, 4, 5, 6)

In [23]:
sliced_tuple = my_tuple[5:]
print(sliced_tuple)

(6, 7, 8, 9, 10)

In [24]:
#21. Find the maximum value in a tuple.
my_tuple = (3, 8, 1, 6, 9, 2, 5)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 9

In [25]:
#22. Find the minimum value in a tuple.

my_tuple = (3, 8, 1, 6, 9, 2, 5)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 1

In [26]:
#23. Convert a string to a tuple of characters.
string = "hello"
tuple_of_characters = tuple(string)
print(tuple_of_characters)

('h', 'e', 'l', 'l', 'o')

In [27]:
#24. Convert a tuple of characters to a string.
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(tuple_of_characters)
print(string_from_tuple)

hello

In [28]:
#25. Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [29]:
#26. Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

In [30]:
#27. Sort the elements of a tuple.
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5)
sorted_tuple = tuple(sorted(my_tuple))

print(sorted_tuple)

(1, 1, 2, 3, 4, 5, 5, 6, 9)

In [31]:
#28. Convert a tuple of integers to a tuple of strings.
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert tuple of integers to tuple of strings
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [32]:
#29. Convert a tuple of strings to a tuple of integers.
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert tuple of strings to tuple of integers
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)
print(tuple_of_integers)

(1, 2, 3, 4, 5)

In [33]:
#30. Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [35]:
#31. Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4, 5), (6, 7))
flattened_tuple = tuple(i for sublist in nested_tuple for i in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [34]:
from itertools import chain

nested_tuple = ((1, 2), (3, 4, 5), (6, 7))
flattened_tuple = tuple(chain.from_iterable(nested_tuple))
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [36]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True  # 2 is prime
    if num % 2 == 0:
        return False  # other even numbers are not prime
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

# Create a tuple of the first 5 prime numbers
first_five_primes = tuple(num for num in range(2, 20) if is_prime(num))[:5]
print(first_five_primes)

(2, 3, 5, 7, 11)

In [38]:
#33. Check if a tuple is a palindrome.
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)
print(is_palindrome_tuple(tuple1)) 
print(is_palindrome_tuple(tuple2))

True
False

In [39]:
#34. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [40]:
#35. Filter out all even numbers from a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

In [41]:
#36. Multiply all elements in a tuple by 2.
original_tuple = (1, 2, 3, 4, 5)

multiplied_tuple = tuple(x * 2 for x in original_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [42]:
#37. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(23, 18, 19, 68, 75)

In [43]:
#38. Check if a tuple is sorted.
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)
tuple3 = (1, 3, 2, 4, 5)

print(is_sorted_tuple(tuple1))  
print(is_sorted_tuple(tuple2))  
print(is_sorted_tuple(tuple3))

True
False
False

In [44]:
#39. Rotate a tuple to the left by `n` positions.
def rotate_left_tuple(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the range of tuple length
    return input_tuple[n:] + input_tuple[:n]

original_tuple = (1, 2, 3, 4, 5)
n = 2

rotated_tuple = rotate_left_tuple(original_tuple, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [45]:
#40. Rotate a tuple to the right by `n` positions.
def rotate_right_tuple(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the range of tuple length
    return input_tuple[-n:] + input_tuple[:-n]
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_right_tuple(original_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [47]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibo_num = [0, 1]  
    for i in range(2, n):
        next_fibonacci =  fibo_num[-1] +  fibo_num[-2]
        fibo_num.append(next_fibonacci)
    return tuple( fibo_num[:n])

first_five_fibonacci = generate_fibonacci(5)

print(first_five_fibonacci)

(0, 1, 1, 2, 3)

In [48]:
#42. Create a tuple from user input.
user_input = input("Enter elements separated by spaces to create a tuple: ")

try:
    tuple_from_input = tuple(user_input.split())
    print("Tuple created:", tuple_from_input)
except ValueError:
    print("Error: Please enter valid elements separated by spaces.")

Enter elements separated by spaces to create a tuple: 1 2 3 4 5 6 7
Tuple created: ('1', '2', '3', '4', '5', '6', '7')

In [51]:
#43. Swap two elements in a tuple.

original_tuple = (1, 2, 3, 4, 5)
i1 = 1
i2 = 3
swapped_tuple = original_tuple[:i1] + (original_tuple[i2],) + original_tuple[i1+1:i2] + (original_tuple[i1],) + original_tuple[i2+1:]

print("Original Tuple:", original_tuple)
print("Tuple after swapping elements at index {} and {}: {}".format(i1, i2, swapped_tuple))

Original Tuple: (1, 2, 3, 4, 5)
Tuple after swapping elements at index 1 and 3: (1, 4, 3, 2, 5)

In [52]:
#44. Reverse the elements of a tuple.
original_tuple = (1, 2, 3, 4, 5)

# Reversed tuple using slicing
reversed_tuple = original_tuple[::-1]

print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [53]:
#45. Create a tuple of the first `n` powers of 2.
def powers_2(n):
    powers_2 = tuple(2 ** i for i in range(n))
    return powers_2

n = 5  # Number of powers of 2
powers_tuple = powers_2(n)

print("Tuple of the first {} powers of 2:".format(n), powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [54]:
#46. Find the longest string in a tuple of strings.
def longest_string_in_tuple(tuple_of_strings):
    if not tuple_of_strings:  # Handle empty tuple case
        return None
    
    longest = tuple_of_strings[0]
    for string in tuple_of_strings:
        if len(string) > len(longest):
            longest = string
    
    return longest

tuple_of_strings = ("apple", "banana", "cherry", "date", "elderberry")
longest = longest_string_in_tuple(tuple_of_strings)

print("Tuple of strings:", tuple_of_strings)
print("Longest string:", longest)

Tuple of strings: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Longest string: elderberry

In [56]:
#47. Find the shortest string in a tuple of strings.
def shortest_string_in_tuple(tuple_of_strings):
    if not tuple_of_strings:  # Handle empty tuple case
        return None
    
    shortest = tuple_of_strings[0]
    for string in tuple_of_strings:
        if len(string) < len(shortest):
            longest = string
    
    return shortest

tuple_of_strings = ("apple", "banana", "cherry", "date", "elderberry")
longest = shortest_string_in_tuple(tuple_of_strings)

print("Tuple of strings:", tuple_of_strings)
print("shortest string:", longest)

Tuple of strings: ('apple', 'banana', 'cherry', 'date', 'elderberry')
shortest string: apple

In [57]:
#48. Create a tuple of the first `n` triangular numbers.
def first_n_triangular_numbers(n):
    triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
    return triangular_numbers

n = 5  # Number of triangular numbers to generate
triangular_tuple = first_n_triangular_numbers(n)

print("Tuple of the first {} triangular numbers:".format(n), triangular_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [3]:
#49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(large_tuple, small_tuple):
    len_large = len(large_tuple)
    len_small = len(small_tuple)
    if len_small == 0:  #If the small tuple is empty, return True
        return True

    if len_large < len_small:  # If the large tuple is shorter than the small tuple, return False
        return False
    
    for i in range(len_large - len_small + 1):
        if large_tuple[i:i + len_small] == small_tuple:
            return True
    return False

large_tuple = (1, 2, 3, 4, 5)
small_tuple = (3, 4)
print(contains_subsequence(large_tuple, small_tuple))  # Output: True

small_tuple = (4, 5, 6)
print(contains_subsequence(large_tuple,small_tuple))

True
False

In [4]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

n = 10 
alternating_tuple = alternating_ones_zeros(n)
print("Tuple of alternating 1s and 0s of length {}: {}".format(n, alternating_tuple))

Tuple of alternating 1s and 0s of length 10: (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)